@import '~antd/dist/antd.css';

/* RWD Container */
.container {
    width: 100%;
    display: flex;
    align-self: center;
    margin: auto;
    background-color: #FEFBF8;
}

/* sm */
@media (max-width: 425px) { 
  .container {
    width: 420px;
  }
} 

/* md */
/* @media (min-width: 768px) {
  .container {
    width: 720px;
  }
}  */

/* lg */
/* @media (min-width: 992px) {
  .container {
    width: 960px;
  }
} */

/* xl */
/* @media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
} */

/* xxl */
/* @media (min-width: 1600px) {
  .container {
    width: 1500px;
  }
}   */

/*fixweb*/
.fixweb-img{
  margin-top: 3rem;
  margin-left: 42rem;
  width: 15%;
}
.fixweb-word{
  font-size: large;
  margin-top: 4.2rem;
  color: #4D4D4D;
  font-weight: bold;
  margin-left: 37rem;
}

/* general */
body {
  line-height: 1.6;
  background-color: #F7F2EC;
  color: #000;
}
.container-fluid {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.primary-google-btn {
  margin-top: 1rem;
}

.layout-header{
  padding: 0;
  height: auto;
  line-height: 1.6;
  background-color: #FEFBF8;
}
.layout-footer {
  padding: 0;
  height: auto;
  line-height: 1.6;
  background-color: #EAE3D8;
}
.layout-content {
  background-color: #FEFBF8;
}

.main-layout {
  display: flex;
  flex-direction: row;
}

.bg-gray {
  background-color: #FEFBF8;
}

.text-gray {
  color: #4D4D4D;
  opacity: 0.6; 
}

/* Header */
.header {
  text-align: center;
}

.bigpic{
  width: 100%;
}

.header-wrap {
  display: flex;
  padding-top: 2rem;
  position: relative;
}
.header-wrap-img{
  background-image: url("https://github.com/tinghui522/react-mid/blob/main/src/img/bigimg.png?raw=true");
}
.header-text {
  margin-left: auto;
  margin-right: auto;
}
.header-title {
  color: #4D4D4D;
  font-size: 1.8rem;
  padding: 0;
  cursor: pointer;
  font-family:'Palatino Linotype';
  font-weight: bold;
}
.header-icon{
  width: 32pt;
  margin-right: 1.5rem;
}
.header-cart-summary {
  position: absolute;
  right: 2rem;
  cursor: pointer;
}
.header-cart-summary:hover{
  opacity: 0.5;
}

.home-detail{
  width:760px;
  height: 620px;
  background-color: #EAE3D8;
}
.detail-img{
  width:50%;
  margin-top: 10rem;
}
.detailpic{
  width:60%;
  margin-top: -24rem;
  margin-left: 57rem;
}

.categories-word{
  width:15%;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.categories-img1{
  width: 28%;
  margin-top: 2rem;
  margin-right: 35vw;
  position: relative;
  z-index:4;
}
.categories-img1:hover{
  cursor:pointer;
  opacity:0%;
}
.hover_1{
  width: 28%;
  margin-top: -59.3vh;
  margin-right: 35vw;
  position: relative;
}

.categories-img2{
  width:28%;
  margin-top: -86.5vh;
  margin-left: 35vw;
  position: relative;
  z-index:4;
}
.categories-img2:hover{
  cursor:pointer;
  opacity:0%;
}
.hover_2{
  width: 28%;
  margin-top: -92.4vh;
  margin-left: 35vw;
  position: relative;
}

.categories-img3{
  width:28%;
  margin-top: 20vh;
  margin-left: -34.5vw;
  position: relative;
  z-index:4;
}
.categories-img3:hover{
  cursor:pointer;
  opacity:0%;
}
.hover_3{
  width: 28%;
  margin-top: 20vh;
  margin-left: -27.68vw;
  position: relative;
  z-index: 1;
}

.categories-img4{
  width:28%;
  margin-top: -98vh;
  margin-left: 35vw;
  position: relative;
  z-index:4;
}
.categories-img4:hover{
  cursor:pointer;
  opacity:0%;
}
.hover_4{
  width: 28%;
  margin-top: -104vh;
  margin-left: 35vw;
  position: relative;
}

.hr-line1 {
  width: 430px;
  border: 0;
  border-top: solid 5px;
  border-color: #DAD4CA;
  margin-top: 2rem;
  margin-left: 17.2rem ;
}
.hr-line2 {
  width: 430px;
  border: 0;
  border-top: solid 5px;
  border-color: #DAD4CA;
  margin-top: -5.8rem;
  margin-left: 51rem ;
}

.hr-line3 {
  width: 430px;
  border: 0;
  border-top: solid 5px;
  border-color: #DAD4CA;
  margin-top: 2rem;
  margin-left: 17.5rem ;
}

.hr-line4 {
  width: 430px;
  border: 0;
  border-top: solid 5px;
  border-color: #DAD4CA;
  margin-top: -10rem;
  margin-left: 51rem ;
}

.text-1 {
  color: #4D4D4D;
  font-weight: bold;
  margin-left: -34rem;
}
.text-2 {
  color: #4D4D4D;
  font-weight: bold;
  margin-left: 34rem;
}
.text-3 {
  color: #4D4D4D;
  margin-left: -33rem;
  margin-bottom: 5rem;
  font-weight: bold;
}
.text-4 {
  color: #4D4D4D;
  margin-left: 34rem;
  font-weight: bold;
}

@media (max-width: 1200px) {
  .header-title {
    width: 14rem;
  }

  .header-slogan {
    display: none;
  }

  .header-cart-summary {
    right: 1rem;
    top: 3rem;
    font-size: 0.8rem;
  }

  .detail-img{
  width:70%;
  margin-top: 10rem;
  }
  .detailpic{
    width:70%;
    margin-top: -28rem;
    margin-left: 50rem;
  }

  .categories-color{
    width: 100%;
  }

  .categories-word{
    width:15%;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

} 

@media (max-width: 992px) {
 .header-title {
   font-size: 1.3rem;
 }
 .home-detail{
  width:486px;
  height: 420px;
  }
 .detail-img{
  width:60%;
  margin-top: 7rem;
  }
  .detailpic{
    width:60%;
    margin-top: -16rem;
    margin-left: 35rem;
  }
}

@media (max-width: 576px) {
  .header-cart-summary {
    margin-right: 0.7rem;
  }
  .header-title {
    width: 10rem;
  }
}

/* Cart */
.cart-empty{
  margin-left: 12rem;
  margin-top: 3rem;
  font-size: medium;
}
.cart-title-bg{
  width: 70px;
  height: 20px;
  background-color: #EAE3D8;
  margin-left: 10rem;
  margin-top: 4rem;
  border-radius: 20px;
  border-color: #EAE3D8;
}

.cart-title{
  font-family: 'Palatino Linotype';
  color: #4D4D4D;
  font-size: x-large;
  font-weight: bold;
  width: 300px;
  margin-top: -2.5rem;
  margin-left: 10rem;
}

.cart-detail{
  margin-top: 2rem;
  margin-left: 10rem;
}
.cart-summary-text {
  color: #4d4d4d;
  font-size: 0.8rem;
  margin-top: 2px;
}

.cart-summary-text1 {
  color: #4d4d4d;
  font-size: 0.8rem;
  margin-top: 0.2rem;
  margin-right: 1.5rem;
}

.ant-modal-title {
  font-size: 1.7rem;
}

.ant-modal-body {
  font-size: 1rem;
}

.cart-modal-btn {
  width: 25%;
  font-size: 1.2rem;
  padding: 0.5rem;
  height: auto;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4D4D4D !important;
  margin-left: 65rem;
  border-radius: 0.5rem;
  border-color: #4D4D4D;
  margin-bottom: 3rem;
}

.cart-modal-btn:hover{
  background-color: #DAD4CA !important;
  border-color: #4D4D4D;
  border-color: #DAD4CA;
  color: #707070 ;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  margin-top: 3rem;
  margin-left: 10rem;
}

.cart-image img{
  max-width: 6rem;
  max-height: 6rem;
  flex: 1 1;
}

.cart-name{
  font-family: 'Palatino Linotype';
  color: #4D4D4D;
  font-size: large;
  font-weight: bold;
  margin-left: -5rem;
  width: 300px;
}
.cart-item-content {
  margin-left: 10rem;
  flex: 8 1;
}

.cart-size{
  font-size: 1rem;
  margin-top: 1rem;
  margin-left: -5rem;
}

.cart-qty{
  font-size: 1rem;
  margin-top: -3rem;
  margin-left: 22rem;
}

.cart-price {
  font-size: 1rem;
  margin-left: 39rem;
  margin-top: -1.8rem;
}

.cart-item-delete {
  font-size: 1.2rem;
  opacity: 0.6;
  cursor: pointer;
  margin-left: 58.5rem;
  margin-top: -1.8rem;
}
.hr-line-total{
  width: 1300px;
  height: 5px;
  border: 0;
  border-top: solid 2px;
  border-color: #DAD4CA;
  margin-top: 1rem;
  margin-left: 8rem;
}
.cart-total-price-wrap {
  display: flex; 
  justify-content: space-between;
  margin-left: 65rem;
  margin-top: 2rem;
  font-weight: bold;
}
.cart-total-price {
  text-align: right;
  margin-right: 9rem;
}
.hr-line-total-btn{
  width: 400px;
  height: 5px;
  border: 0;
  border-top: solid 2px;
  border-color: #DAD4CA;
  margin-top: 1rem;
  margin-left: 64.3rem;
}
.block{
  background-color: #FEFBF8;
  width: 100%;
  height: auto;
}

@media (max-width: 992px) {
  .cart-summary-text {
    display: none;
  }
} 

.nav-bar {
  background-color: #fff;
  display: flex;
  width: 20rem;
  flex-direction: column;
  padding: 2rem;
  padding-top: 4rem;
  min-height: 100vh;
  transition: all 0.25s linear;
}

.nav-item {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1.8rem;
  cursor: pointer;
  color: #000;
  opacity: 0.6;
  transition: opacity .25s linear;
}

.nav-item:hover {
  color: #4D4D4D;
  opacity: 1;
}

.nav-item--active {
  opacity: 1;
}

.ant-drawer-header {
  border-bottom: none;
}

.ant-drawer-title {
  text-align: center;
}

@media (max-width: 1920px) {
  .nav-bar {
    background-color: #fff;
    position: absolute;
    z-index: 99;
    width: 80%;
    flex-wrap: wrap;
  }

  .nav-item {
    font-size: 1.2em;
    margin: 2rem auto;
    width: 50%;
  }

  .nav-bar-wrap {
    background-color: #fff;
    opacity: 0.6;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
  }
}

/* Hamburger Menu */
.ham-menu {
  display: inline-block;
  position: relative;
  margin-left: -4rem;
  z-index: 999;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 2rem;
  opacity: 0.7;
  left: 5rem;
  top: 2.5rem;
  transition: all .25s linear;
}

@media (min-width: 1920px) {
  .show-mobile {
    display: none;
  }
}

.ham-menu:hover {
  opacity: 1;
  cursor: pointer;
}

span.ham-menu-bar1 {
  display: inline-block;
  position: absolute;
  background-color: #707070;
  width: 24px;
  height: 3px;
  top: 0rem;
  transition: all .05s linear;
  transform: rotate(-4deg);
}

span.ham-menu-bar2 {
  display: inline-block;
  background-color: #707070;
  position: absolute;
  width: 24px;
  height: 3px;
  top: 0.55rem;
  transition: all .25s linear;
  transform: rotate(2deg);
}

span.ham-menu-bar3 {
  display: inline-block;
  background-color: #707070;
  position: absolute;
  width: 24px;
  height: 3px;
  top: 1.1rem;
  transition: all .25s linear;
  transform: rotate(-2deg);
}

span.ham-menu-bar1--touch {
  display: inline-block;
  position: absolute;
  background-color: #707070;
  width: 30px;
  height: 3px;
  top: 16px;
  opacity: 0;
  transition: all .05s linear;
}

span.ham-menu-bar2--touch {
  display: inline-block;
  background-color: #707070;
  position: absolute;
  width: 30px;
  height: 3px;
  opacity: 1;
  top: 0.6rem;
  transition: all .25s linear;
  transform: rotate(45deg);
}

span.ham-menu-bar3--touch {
  display: inline-block;
  background-color: #707070;
  position: absolute;
  width: 30px;
  height: 3px;
  top: 0.6rem;
  opacity: 1;
  transition: all .25s linear;
  transform: rotate(-45deg);
}

/* Product Item */
/*.product {
  border-radius: 1%;
  border: solid gray 1px;
}*/
.ant-card-body{
  padding: 0;
}

.product-info {
  padding: 1.2rem;
}

.product-info--detail {
  margin-top: 4rem;
  margin-bottom: 5rem;
}

.product-category {
  color: #000;
  margin-bottom: 0.2rem;
  text-align: center;
}

/*perfume*/
.perfume-title{
  font-family: 'Palatino Linotype';
  color: #4D4D4D;
  text-align: center;
  font-size: large;
  margin-top: -2.1rem;
  letter-spacing: 3px;
}
.perfume-title-bg{
  width: 150px;
  height: 15px;
  background-color: #EAE3D8;
  margin-left: 42.7rem;
  margin-top: 2rem;
  border-radius: 10px;
  border-color: #EAE3D8;
  box-shadow:1px 1px 7px #707070;
}

.perfume-detail{
  width: 900px;
  height: 500px;
  background-color: #EAE3D8;
  margin-left: -7rem;
  margin-top: 4rem;
}

.product-title-bg{
  width: 220px;
  height: 25px;
  background-color: #EAE3D8;
  margin-left: 42.2vw;
  margin-top: 40rem;
  border-radius: 20px;
  border: #EAE3D8;
  box-shadow:1px 2px 6px #707070;
}
.product-title-bg1{
  width: 220px;
  height: 25px;
  background-color: #EAE3D8;
  margin-left: 42.2vw;
  margin-top: 5rem;
  border-radius: 20px;
  border: #EAE3D8;
  box-shadow:1px 2px 6px #707070;
}
.product-title{
font-family: 'Palatino Linotype';
color: #4D4D4D;
text-align: center;
font-size: large;
margin-top: 2rem;
letter-spacing: 3px;
}

.product-word{
  width:45%;
  margin-left: 15rem;
  margin-top: 5rem;
}

.product-bg{
  width: 100%;
  margin-top: 30px;
}
.product-bg1{
  display: none;
}
/*動畫*/
.product-bg div {
  position: absolute;
  z-index:0;
  opacity: 0;
  top:25vh;
  filter: alpha(opacity=0);
  -webkit-animation: round 21s linear infinite;
          animation: round 21s linear infinite;
  }
  
  @-webkit-keyframes round {
  5% {
      opacity: 1;
      filter: alpha(opacity=100);
      /* 0 - 1秒 淡入*/
  }
  25% {
      opacity: 1;
      filter: alpha(opacity=100);
      /* 1- 5秒靜止*/
  }
  30% {
      opacity: 0;
      filter: alpha(opacity=0);
      /* 5-6秒淡出*/
  }
  }
  @keyframes round {
  5% {
      opacity: 1;
      filter: alpha(opacity=100);
      /* 0 - 1秒 淡入*/
  }
  25% {
      opacity: 1;
      filter: alpha(opacity=100);
      /* 1- 5秒靜止*/
  }
  30% {
      opacity: 0;
      filter: alpha(opacity=0);
      /* 5-6秒淡出*/
  }
  }
  
  .product-bg div:nth-child(3) {
  -webkit-animation-delay: 14s;
          animation-delay: 14s;
  }
  
  .product-bg div:nth-child(2) {
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
  }
  
  .product-bg div:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  }

.product-img{
  width:60%;
  margin-left: 45rem;
  margin-top: -19.5rem;
}

.arrow-icon{
  width:5%;
  margin-left: 80rem;
  margin-top: -5rem;
}
.arrow-icon1{
  display: none;
}

.product{
  margin-top: 10rem;
  margin-left: 10rem;
}

.product-item{
  margin-left: 1.5rem;
}

.backcolor-product-category{
  width:70px;
  background-color: #FEFBF8;
  margin-left: 4.2rem;
}

.product-name{
  width: 250px;
  text-align: center;
  margin-left: -1rem;
  font-size: 'Palatino Linotype';
}

.product-more{
  text-align: center;
  font-size: 'Gadugi';
}

/*productDetail*/
.product-image {
  width: 85%;
  object-fit: cover;
  object-position: center;
  margin-left: 10rem;
  margin-top: 3rem;
}
.hr-line-productdetail{
  width: 1500px;
  height: 5px;
  border: 0;
  border-top: solid 2px;
  border-color: #DAD4CA;
}
.backcolor-product-category1{
  width:50px;
  background-color: #EAE3D8;
  margin-top: 4rem;
  margin-left: 20rem;
}
.hr-line-productdetail1{
  width: 500px;
  height: 5px;
  border: 0;
  border-top: solid 2px;
  border-color: #DAD4CA;
  margin-top: 0.5rem;
  margin-left: 19.5rem;
}

.product-name--large{
  width: 400px;
  margin-left: 18rem;
  font-size: 'Palatino Linotype';
}

.hr-line-productdetail2{
  width: 500px;
  height: 5px;
  border: 0;
  border-top: solid 2px;
  border-color: #DAD4CA;
  margin-top: 3rem;
  margin-left: 19.5rem;
}

.product-description {
  color: #4D4D4D;
  font-size: 1rem;
  margin-left: 20rem;
}

.product-price--large {
  font-size: 1.2rem;
  margin-left: 41rem;
  margin-top: -3rem;
}

.product-price-wrap {
  display: flex;
  flex-direction: column;
}

.product-status {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 21rem;
}

.product-size{
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 21rem;
  margin-top: -3.5rem;
}

.product-qty{
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 40rem;
}

.hr-line-productdetail3{
  width: 500px;
  height: 5px;
  border: 0;
  border-top: solid 2px;
  border-color: #DAD4CA;
  margin-left: 19.5rem;
}

.qty-number {
  color: #fff;
  background-color: #EAE3D8;
}
.select-style {
  font-size: 1rem;
}

.btn-tocar {
  height: auto;
  width: 480px;
  font-size: 1.2rem;
  padding: 0.5rem 2rem;
  background-color: #4D4D4D !important;
  margin-left: 20rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  border-color: #4D4D4D ;
}

.btn-tocar:hover{
  background-color: #DAD4CA !important;
  border-color: #4D4D4D;
  border-color: #DAD4CA;
  color: #707070 ;
}

.hr-line-productdetail4{
  width: 1000px;
  height: 5px;
  border: 0;
  border-top: solid 2px;
  border-color: #DAD4CA;
}
.test-title{
  font-family: 'Palatino Linotype';
  font-size: x-large;
  color: #4D4D4D;
  text-align: center;
  margin-top: 3rem;
}
.test-description{
  opacity: 0.8;
  text-align: center;
}
.use-img1{
  margin-left: 26rem;
  margin-top: 2rem;
}
.use-img2{
  margin-left: 2rem;
  margin-top: 2rem;
}

.hr-line-productdetail-works{
  width: 1000px;
  height: 5px;
  border: 0;
  border-top: solid 2px;
  border-color: #DAD4CA;
  margin-top: 5rem;
}

.works-title{
  text-align: center;
  font-size: x-large;
  margin-top:3rem;
  font-family: 'Palatino Linotype';
  color: #4D4D4D;
}

.works-detail{
  width: 80%;
  text-align: center;
  margin-left: 10rem;
  margin-top: 3rem;
  opacity: 0.8;
  margin-bottom: 3rem;
}
/* Footer */
.footer {
  background-color: #EAE3D8;
}

.footerword{
  width:12%;
  margin-top: 4rem;
  margin-left: 8rem;
}

.footer-topic1{
  font-family: 'Palatino Linotype';
  color: #4D4D4D;
  text-align: center;
  margin-left: -32rem;
  margin-top: -8rem;
  font-size: 26;
}

.footer-detail1{
  width:90px;
  font-size: 20;
  color: #707070;
  margin-left: 28.5rem;
  line-height: 1.5rem;
}

.footer-topic2{
  font-family: 'Palatino Linotype';
  color: #4D4D4D;
  text-align: center;
  margin-left: 3rem;
  margin-top: -7.6rem;
  font-size: 26;
}

.footer-detail2{
  width:90px;
  font-size: 20;
  color: #707070;
  margin-left: 46rem;
  line-height: 1.5rem;
}

.footer-topic3{
  font-family: 'Palatino Linotype';
  color: #4D4D4D;
  text-align: center;
  margin-left: 43.5rem;
  margin-top: -9rem;
  font-size: 26;
}
.footer-detail3{
  width:110px;
  font-size: 20;
  color: #707070;
  margin-left: 66.5rem;
  line-height: 1.5rem;
}

.hr-footer-line {
  margin-top:-1rem; 
  width: 1300px;
  border: 0;
  border-top: solid 2px;
  border-color: #fff;
  opacity: 1;
  border-radius: 0.2rem;
}

.text-gray2{
  color: #707070;
  margin-left: 8rem;
}
.text-gray3{
  color: #707070;
  margin-left: 30rem;
  margin-top: -2.2rem;
}

.text-gray4{
  color: #707070;
  margin-left: 45rem;
  margin-top: -2.3rem;
}

.text-gray5{
  color: #707070;
  margin-left: 62rem;
  margin-top: -2.3rem;
}

.text-gray6{
  color: #707070;
  margin-left: 78rem;
  margin-top: -2.3rem;
}

.facebook-icon{
  margin-left: 66.5rem;
  height: 26px;
}

.instagram-icon{
  margin-top: -3.3rem;
  margin-left: 68.5rem;
  height: 26px;
}

.line-icon{
  margin-top: -6rem;
  margin-left: 71.2rem;
  height: 26px;
}
/*Login*/
.ant-checkbox-checked .ant-checkbox-inner{
  background-color: #DAD4CA;
  border-color: #DAD4CA;
}

.login-form-wrapper{
  width: 100%;
  background-color: #FEFBF8;
}

.login-email{
  width: 30vw;
  margin: 3rem 35vw 1rem;
}
.login-password{
  width: 30vw;
  margin: 2rem 35vw 1rem;
}
.remember{
  margin-left: 35vw;
  margin-right: 2rem;
  color: #707070;
}
.login-enter{
  width: 30vw;
  margin: 1rem 35vw 1rem;
  text-align: center;
  color: #4d4d4d;
}
.login-form__button{
  margin-top: 2rem;
  background-color: #4D4D4D;
  border-radius: 10px;
  border-color: #4D4D4D;
  color: #fff;
}
.login-form__button:hover{
  background-color: #EAE3D8;
  border-color: #EAE3D8;
  color: #4d4d4d;
}
.login-form__forgot{
  color: #CCB592;
  margin-left: 12rem;
}
.login-form__forgot:hover{
  color: #CCB592;
}

.login-form__register{
  color: #CCB592;
  margin-left: 1rem;
}
.login-form__register:hover{
  color: #CCB592;
}
.login-or{
  color: #4d4d4d;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

/*Register*/
.register-form .ant-form-item{
  color: #4d4d4d;
}
.ant-form-item-label > label{
  color: #4d4d4d;
}
.register-form-wrapper {
  width: 100%;
  margin-bottom: 2rem;
} 
.register-form-wrapper .ant-input{
  width: 30vw;
  
} 
.register-form-wrapper .ant-input-password{
  width: 30vw;
} 
.agreement{
  width: 15rem;
  position: relative;
  margin: auto;
}
.agreement span{
  color: #4d4d4d;
}
.register-agree{
  color: #CCB592;
}
.register-agree:hover{
  color: #CCB592;
}
.register-enter{
  width: 30vw;
  margin: 0rem 33vw 1rem;
  text-align: center;
}
.register-form__button{
  background-color: #4D4D4D;
  border-radius: 10px;
  border-color: #4D4D4D;
}
.register-space{
  margin-bottom: 1rem;
}

/*Profile*/
.profile-form-wrapper{
  width: 100%;
  background-color: #FEFBF8;
}
.profile-form{
  width: 35vw;
  margin: auto;
  margin-top: 2rem;
}
.profile-btn-wrapper{
  width: 20%;
  margin: 3rem auto;
}
.profile-form__button1{
  background-color: #CCB592;
  border-radius: 10px;
  border-color: #CCB592;
  margin-left: 11rem;
}
.profile-form__button1:hover{
  background-color: #CCB592;
  border-radius: 10px;
  border-color: #CCB592;
}
.profile-form__button2{
  margin: 1rem;
  background-color: #EAE3D8;
  border-radius: 10px;
  border-color: #EAE3D8;
  color: #4D4D4D;
}
.profile-form__button2:hover{
  background-color: #EAE3D8;
  border-radius: 10px;
  border-color: #EAE3D8;
  color: #4D4D4D;
}

/* Checkout Steps */
.checkout-steps {
  font-size: 0.6rem;
  width: 80%;
  margin-bottom: 2rem;
}
.checkout-steps > div {
  border-top: 0.7rem #EAE3D8 solid;
  color: #EAE3D8;
  flex: 1;
  padding: 0.2rem;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: #4D4D4D;
  color: #4D4D4D;
}

.shipping-form{
  width: 50%;
  margin-top: 2rem;
  margin-left: 23vw;
}
.shipping-form__button{
  background-color: #4D4D4D;
  border-radius: 10px;
  border-color: #4D4D4D;
  color: #fff;
  margin-left: 23vw;
  margin-top: 2rem;
}
.shipping-form__button:hover{
  background-color: #EAE3D8;
  border-color: #EAE3D8;
  color: #4d4d4d;
}
.payment-form{
  width: 50%;
  margin-top: 2rem;
  margin-left: 39vw;
}
.payment-form__button{
  background-color: #4D4D4D;
  border-radius: 10px;
  border-color: #4D4D4D;
  color: #fff;
  margin-left: 8vw;
  margin-top: 2rem;
}
.payment-form__button:hover{
  background-color: #EAE3D8;
  border-color: #EAE3D8;
  color: #4d4d4d;
}
.block1{
  width: 100%;
  height: 150px;
}

/* PlaceOrder / Order Card */
.card {
  border: 0.1rem #DAD4CA solid;
  border-radius: 0.5rem;
  margin-top: 1rem;
}
.card-body {
  padding: 1rem;
}
.orderSearch_btn{
  width: 11rem;
  background-color: #4D4D4D;
  color: #fff;
  border-radius: 10px;
  border-color: #4D4D4D;
  margin-top: -5px;
  margin-left: 43.3vw;
}
.orderSearch_btn:hover{
  background-color: #EAE3D8;
  border-color: #EAE3D8;
  color: #4d4d4d;
}
.orderSearch_btn:focus{
  background-color: #4D4D4D;
  border-color: #4D4D4D;
  color: #fff;
}

.order-item{
  display: flex;
  justify-content: space-between;
  width: 600px;
}
.order-image img{
  max-width: 7rem;
  max-height: 7rem;
  flex: 1 1;
}
.order-image{
  margin-left: 1rem;
  margin-top: 1rem;
}
.order-name{
  width: 150px;
  margin-top: 3rem;
}
.hr-line-order{
  width: 500px;
  height: 5px;
  border: 0;
  border-top: solid 2px;
  border-color: #DAD4CA;
}
.total-price-wrap{
  display: flex; 
  justify-content: space-around;
  font-weight: bold;
}
.order-total-price{
  margin-left: 15rem;
}
.primary-btn{
  background-color: #4D4D4D;
  border-radius: 10px;
  border-color: #4D4D4D;
}
.primary-btn:hover{
  background-color: #EAE3D8;
  border-color: #EAE3D8;
  color: #4d4d4d;
}
.backto_home_btn{
  background-color: #4D4D4D;
  border-radius: 10px;
  border-color: #4D4D4D;
}
.backto_home_btn:hover{
  background-color: #EAE3D8;
  border-color: #EAE3D8;
  color: #4d4d4d;
}
.block2{
  width: 100%;
  height: 100px;
}
.profile_cont{
  display: flex;
  flex-direction: column;
}
.profileOrder{
  margin-bottom: 5rem;
}
.Order_title{
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Order_title p{
  font-size: 2rem;
}
.orderlist_empty{
  font-size: 3rem;
}
.eachOrder_title{
  font-size: 2rem;
  margin-left: 35vw;
}

@media (min-width: 992px) {
  .product-image {
    height: 24rem;
  }
}

@media (max-width: 425px) { 
  /*ham*/
  span.ham-menu-bar1 {
    width: 40px;
    height: 3px;
    top: 0.5rem;
    margin-left: 1rem;
  }
  span.ham-menu-bar2 {
    width: 40px;
    height: 3px;
    top: 1.2rem;
    margin-left: 1rem;
  }
  span.ham-menu-bar3 {
    width: 40px;
    height: 3px;
    margin-left: 1rem;
    top: 2rem;
  }
  span.ham-menu-bar1--touch {
    width: 40px;
    height: 3px;
    top: 16px;
    opacity: 0;
  }
  span.ham-menu-bar2--touch {
    width: 40px;
    height: 3px;
    opacity: 1;
    top: 0.6rem;
  }
  span.ham-menu-bar3--touch {
    width: 40px;
    height: 3px;
    top: 0.6rem;
    opacity: 1;
  }
  .nav-item {
    font-size: 1.2rem;
    margin-top: 1.5rem;
  }

  /*fixweb*/
  .fixweb-img{
    margin-top: 3rem;
    margin-left: 13rem;
    width: 30%;
  }
  .fixweb-word{
    font-size: 2rem;
    width: 70%;
    text-align: center;
    margin-top: 4.2rem;
    margin-left: 6rem;
  }
  
  /* Header */
  .bigpic{
    width: 100%;
  }
  .header-wrap{
    width: 100%;
  }
  .header-title {
    font-size: 2rem;
  }

  .header-cart-summary {
    position: absolute;
    margin-right: 0.5rem;
    margin-top: -0.5rem;
  }

/*categories rwd*/
  .home-detail{
    width: 100%;
    height: 180px;
    margin-top: 10rem;
  }
  .detail-img{
    width:65%;
    margin-top: -7rem;
  }
  .detailpic{
    width:65%;
    margin-top: 3rem;
    margin-left: 1rem;
  }
  .categories-word{
    width:30%;
    margin-top: 30rem;
  }

  .categories-img1{
    width: 310px;
    margin-top: 4rem;
    margin-left: 9rem;
    position: relative;
  }
  .categories-img1:hover{
    cursor:pointer;
    opacity:0%;
  }
  .hover_1{
    width: 310px;
    margin-top: -21rem;
    margin-left: 9rem;
    position: relative;
  }

  .categories-img2{
    width:310px;
    margin-top: 8rem;
    margin-left: 0rem;
  }
  .categories-img2:hover{
    cursor:pointer;
    opacity:0%;
  }
  .hover_2{
    width: 310px;
    margin-top: -21rem;
    margin-left: 0rem;
    position: relative;
  }

  .categories-img3{
    width:310px;
    margin-top: 8rem;
    margin-left: 0rem;
  }
  .categories-img3:hover{
    cursor:pointer;
    opacity:0%;
  }
  .hover_3{
    width: 310px;
    margin-top: -21rem;
    margin-left: 0rem;
    position: relative;
    z-index: 1;
  }

  .categories-img4{
    width:310px;
    margin-top: 6rem;
    margin-left: 0rem;
  }
  .categories-img4:hover{
    cursor:pointer;
    opacity:0%;
  }
  .hover_4{
    width: 310px;
    margin-top: -21rem;
    margin-left: 0rem;
    position: relative;
  }

  .hr-line1 {
    width: 310px;
    border-top: solid 7px;
    border-color: #DAD4CA;
    margin-top: 2rem;
    margin-left: 9rem;
  }
  .hr-line2 {
    width: 310px;
    border-top: solid 7px;
    border-color: #DAD4CA;
    margin-top: 2rem;
    margin-left: 9rem;
  }
  .hr-line3 {
    width: 310px;
    border-top: solid 7px;
    border-color: #DAD4CA;
    margin-top: 2rem;
    margin-left: 9rem;
  }
  .hr-line4 {
    width: 310px;
    border-top: solid 7px;
    border-color: #DAD4CA;
    margin-top: 2rem;
    margin-left: 9rem;
  }

  .text-1 {
    font-size: 1.5rem;
    margin-left: 0rem;
  }
  .text-2 {
    font-size: 1.5rem;
    margin-left: 0rem;
  }
  .text-3 {
    font-size: 1.5rem;
    margin-left: 0rem;
  }
  .text-4 {
    font-size: 1.5rem;
    margin-left: 0rem;
  }
/* Footer rwd*/
  .footerword{
    width:50%;
    margin-left: 9.5rem;
  }

  .footer-topic1{
    margin-left: -18rem;
    margin-top: 5rem;
    font-size: 1.5rem;
  }

  .footer-detail1{
    width:180px;
    font-size: 1.2rem;
    margin-left: 4rem;
    line-height: 3rem;
    text-align: center;
  }

  .footer-topic2{
    margin-left: 16.5rem;
    margin-top: -14.2rem;
    font-size: 1.5rem;
  }

  .footer-detail2{
    width:230px;
    font-size: 1.2rem;
    margin-left: 19.5rem;
    line-height: 3rem;
    text-align: center;
  }

  .footer-topic3{
    margin-left: 0rem;
    margin-top: 3rem;
    font-size: 1.5rem;
  }
  .footer-detail3{
    width:350px;
    font-size: 1.2rem;
    margin-left: 7.5rem;
    margin-bottom: 2.5rem;
    line-height: 3rem;
    text-align: center;
  }

  .hr-footer-line {
    margin-top:3rem; 
    width: 400px;
    border-top: solid 7px;
    border-color: #fff;
    border-radius: 0.1rem;
  }

  .text-gray2{
    margin-left: 16.5rem;
    margin-top: 1.5rem;
    font-size: 1.2rem;
  }
  .text-gray3{
    margin-left: 15rem;
    margin-top: 1rem;
    font-size: 1.2rem;
  }
  .text-gray4{
    margin-left: 15.8rem;
    margin-top: 1rem;
    font-size: 1.2rem;
  }
  .text-gray5{
    margin-left: 16.5rem;
    margin-top: 1rem;
    font-size: 1.2rem;
  }
  .text-gray6{
    margin-left: 9.5rem;
    margin-top: 1rem;
    font-size: 1.2rem;
  }

  .facebook-icon{
    margin-left: 11rem;
    height: 40px;
  }
  .instagram-icon{
    margin-top: 0.3rem;
    margin-left: 5rem;
    height: 40px;
  }
  .line-icon{
    margin-top: 0.3rem;
    margin-left: 5rem;
    height: 40px;
  }
  /*Perfume rwd*/
  .hr-line-productdetail{
    width: 100%;
  }
  .perfume-title{
    font-size: 1.5rem;
    margin-top: -2.8rem;
    margin-bottom: 5rem;
  }
  .perfume-title-bg{
    width: 180px;
    height: 20px;
    margin-top: 5rem;
    margin-left: 11rem;
  }
  
  .perfume-detail{
    width:120%;
    height: 350px;
    margin-top: 5rem;
    margin-bottom: 60rem;
  }
  .product-word{
    width: 55%;
    margin-left: 10rem;
    margin-top: 3rem;
  }
  .product-img{
    width:100%;
    margin-left: 0;
    margin-top: 2rem;
  }
  .arrow-icon{
    display: none;
  }
  .product-title-bg{
    width: 200px;
    height: 20px;
    margin-left: 10.5rem;
    margin-top: 18rem;
  }
  .product-title-bg1{
    width: 200px;
    height: 20px;
    margin-left :10.5rem;;
    margin-top: -30rem;
  }
  .product-title{
  font-size: large;
  margin-top: 1.5rem;
  margin-left: 0rem;
  }
  .ant-row{
    flex-direction: column;
  }
  .product-bg{
    width: 130%;
    margin-top: 100px;
  }
  
  .product-item{
    margin-left: 0rem;
  }
  .product{
    margin-left: 4.5rem;
  }
  .backcolor-product-category{
    width: 50%;
    margin-left: 8rem;
  }
  .product-category{
    font-size: 1.2rem;
    margin-left: -2rem;
  }
  .product-name{
    font-size: 1.2rem;
    text-align: center;
    margin-left: 1.5rem;
  }
  .product-info{
    margin-left: -3rem;
    padding: 0rem;
  }
  .product-more{
    text-align: center;
    margin-left: -3rem;
  }
  .product-price1 {
    font-size: 1.2rem;
    margin-left: 1rem;
    font-weight: bold;
    margin-top: -3rem;
  }
  /*productDetail*/
  .product-image {
    width: 40%;
    margin-left: 10rem;
    margin-top: 0rem;
  }
  .hr-line-productdetail1{
    width: 80%;
    border: 0;
    border-top: solid 3px;
    border-color: #DAD4CA;
    margin-top: 2rem;
    margin-left: 3rem;
  }
  .product-name{
    width: 250px;
    margin-left:7rem;
    font-size: 1.5rem;
  }
  .hr-line-productdetail2{
    width: 80%;
    border: 0;
    border-top: solid 3px;
    border-color: #DAD4CA;
    margin-top: 2rem;
    margin-left: 3rem;
  }
  .backcolor-product-category1{
    width:70px;
    margin-top: 8rem;
    margin-left: 14.5rem;
  }
  .product-description {
    font-size: 1.2rem;
    margin-left: 5rem;
    width: 400px;
  }
  
  .product-price {
    font-size: 1.2rem;
    margin-left: 22rem;
    font-weight: bold;
    margin-top: -3rem;
  }
  
  .product-price-wrap {
    display: flex;
    flex-direction: column;
  }
  .product-status {
    font-size: 1.2rem;
    margin-left: 5rem;
    margin-top: -5rem;
  }
  .product-size{
    font-size: 1.2rem;
    margin-left: 5rem;
    margin-top: -3rem;
  }
  .product-qty{
    font-size: 1.2rem;
    margin-left: 21rem;
  }
  
  .hr-line-productdetail3{
    width: 80%;
    border: 0;
    border-top: solid 3px;
    border-color: #DAD4CA;
    margin-left: 3rem;
    margin-top: 4rem;
  }
  .select-style {
    font-size: 1.2rem;
  }
  .btn-tocar {
    width: 300px;
    font-size: 1.2rem;
    padding: 0.5rem 2rem;
    margin-left: 7rem;
    margin-top: 1rem;
  }
  
  .hr-line-productdetail4{
    width: 80%;
    height: 5px;
    border: 0;
    border-top: solid 2px;
    border-color: #DAD4CA;
    margin-left: 3rem;
  }
  .test-title{
    font-size: 1.5rem;
    margin-top: 3rem;
  }
  
  .test-description{
    opacity: 0.8;
    width: 300px;
    margin-left: 7rem;
    text-align: center;
  }
  .use-img1{
    width: 40%;
    margin-left: 2rem;
    margin-top: 2rem;
  }
  .use-img2{
    width: 40%;
    margin-left: 2rem;
    margin-top: 2rem;
  }
  
  .hr-line-productdetail-works{
    width: 80%;
    border: 0;
    border-top: solid 2px;
    border-color: #DAD4CA;
    margin-top: 4rem;
  }
  
  .works-title{
    text-align: center;
    font-size: 1.5rem;
    margin-top:3rem;
  }
  
  .works-detail{
    width: 400px;
    text-align: center;
    margin-left: 3.5rem;
    margin-top: 3rem;
    opacity: 0.8;
    margin-bottom: 3rem;
  }
  /* Cart */
  .cart-title-bg{
    width: 60px;
    height: 25px;
    margin-left: 11.5rem;
    margin-top: 2rem;
  }
  .cart-title{
    font-size: 1.5rem;
    margin-top: -2.5rem;
    margin-left: 12rem;
  }
  .cart-empty{
    margin-left: 4rem;
    margin-top: 3rem;
    font-size: 1.2rem;
  }

  .cart-modal-btn {
    width: 80%;
    font-size: 1rem;
    padding: 0.5rem;
    height: auto;
    margin-top: 2rem;
    margin-left: 3rem;
  }

  .cart-name{
    font-size: 1.2rem;
    margin-left: 1rem;
    width: 300px;
  }
  .cart-item {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    width: 375px;
  }

  .cart-image img{
    max-width: 7rem;
    max-height: 7rem;
    flex: 1 1;
  }
  .cart-image{
    margin-left: -8rem;
  }
  .cart-item-content {
    margin-left: -1rem;
    width: 250px;
  }
  .cart-size{
    font-size: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    width: 50px;
  }
  .cart-qty{
    font-size: 1.2rem;
    margin-top: 1.5rem;
    margin-left: 1rem;
    width: 100px;
  }
  .cart-price {
    font-size: 1.2rem;
    margin-left: 14rem;
    margin-top:-5.5rem;
    width: 60px;
  }
  .cart-item-delete {
    font-size: 1.2rem;
    opacity: 0.6;
    margin-top: 1.5rem;
    margin-left: 15rem;
    width: 20px;
  }
  .hr-line-total{
    width: 85%;
    border: 0;
    border-top: solid 2px;
    border-color: #DAD4CA;
    margin-top: 1rem;
    margin-left: 2rem;
  }
  .cart-total-price-wrap {
    margin-left: 16rem;
    margin-top: 1.5rem;
    font-size: 1.2rem;
    width: 200px;
  }
  .cart-total-price {
    margin-left: 2rem;
    font-size: 1.2rem;
  }
  .hr-line-total-btn{
    width: 85%;
    border: 0;
    border-top: solid 2px;
    border-color: #DAD4CA;
    margin-top: 1rem;
    margin-left: 2rem;
  }
  /*Login*/
  .login-email{
    width: 350px;
    margin: 3rem 25vw 1rem;
  }
  .login-password{
    width: 350px;
    margin: 2rem 25vw 1rem;
  }
  .remember{
    margin-left: 25vw;
    margin-right: 2rem;
  }
  .login-enter{
    width: 350px;
    margin: 1rem 25vw 1rem;
  }
  .login-form__button{
    margin-top: 2rem;
  }
  .login-form__forgot{
    margin-left: 6rem;
  }
  .login-or{
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }

  /*Register*/
  .register-form-wrapper {
    width: 100%;
    margin-bottom: 2rem;
  } 
  .register-form-wrapper .ant-input{
    width: 350px;
    
  } 
  .register-form-wrapper .ant-input-password{
    width: 350px;
  } 
  .register-form{
    width: 350px;
    margin-left: 25vw;
  }
  .agreement{
    width: 15rem;
    position: relative;
    margin: auto;
  }
  .register-enter{
    width: 350px;
    margin: 0rem 0vw 1rem;
  }
  .register-space{
    margin-bottom: 1rem;
  }

  /*Profile*/
  .profile-form{
    width: 350px;
    margin: auto;
    margin-top: 2rem;
  }
  .profile-btn-wrapper{
    width: 20%;
  }
  .profile-form__button1{
    margin-left: 5.5rem;
    margin-top: 2rem;
  }
  .profile-form__button2{
    margin-left: 1rem;
    margin-top: -2rem;
  }

  /* Checkout Steps */
  .checkout-steps {
    margin-top: 1rem;
  }
  .shipping-form{
    width: 350px;
    margin-top: 2rem;
    margin-left: 23vw;
  }
  .shipping-form__button{
    margin-left: 30vw;
  }
  .payment-form__button{
    margin-left: 14vw;
  }

  /* PlaceOrder / Order Card */
  .order-item{
    display: flex;
    justify-content: space-between;
    width: 400px;
  }
  .order-image img{
    max-width: 7rem;
    max-height: 7rem;
    flex: 1 1;
  }
  .order-image{
    margin-left: 0rem;
    margin-top: 1rem;
  }
  .order-name{
    margin-top: 2rem;
    margin-left: 2rem;
  }
  .hr-line-order{
    width: 380px;
    border: 0;
    border-top: solid 2px;
    border-color: #DAD4CA;
  }
  .Order_title{
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Order_title p{
    font-size: 1.5rem;
  }
  .orderlist_empty{
    font-size: 1.5rem;
  }
  .eachOrder_title{
    font-size: 1.2rem;
    margin-left: 25vw;
  }
} 